@charset "UTF-8";
/* CSS for the testpage, not necessary for the plugin  */


body {
	text-align: center;
	background:#e6e6e6;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color:#56523b;
}




h3 {
	margin-top: 7px;
	font-weight:normal;
	font-size: 18px;
}





.big-margin {
		margin: 8rem auto ;
		padding: 1rem auto ;
}

.button{
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 4px;
	border: 1px solid #33C3F0;
	cursor: pointer;
	box-sizing: border-box;
	color: #FFF;
	background-color: #33C3F0;
}

.button:hover , a.button:hover, a.button:focus {
	color: #FFF;
	background-color: #1EAEDB;
	border-color: #1EAEDB;
}
